@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div id="nivoslider" class="slides nivoSlider">

    <div class="nivo-directionNav"><a class="nivo-prevNav">Prev</a><a class="nivo-nextNav">Next</a></div>
    <div class="nivo-slice" name="0" style="left: 0px; width: 100%; height: 515px; opacity: 1; overflow: hidden;">
        <img src="https://tapchidongy.net/wp-content/uploads/2024/04/phong-kham-linh-dam.jpg" style="position:relative; width:100%; height:auto; display:block !important; top:160px; left:0;">
    </div>

<h3> Phòng khám Đa khoa Linh Đàm chính thức đi vào hoạt động từ tháng 02 năm 2016. Phòng khám tọa lạc tại tòa nhà HUD3 Linh Đàm, khu đô thị Linh Đàm, quận Hoàng Mai.<br /><br />

        Phòng khám Đa khoa Linh Đàm chuyên cung cấp dịch vụ y tế chuyên nghiệp để phục vụ cho nhu cầu khám và điều trị của cư dân khu vực quận Linh Đàm. Theo đó, nhằm mang lại dịch vụ tốt nhất cho khách hàng, phòng khám đã liên tục đầu tư vào cơ sở vật chất và cố gắng quy tụ đội ngũ bác sĩ có bề dày kinh nghiệm tại Hà Nội.<br /><br />

        Phòng khám có tiếp nhận điều trị các bệnh lý về Nội khoa, Ngoại khoa, Chẩn đoán hình ảnh,..Quý khách có thể tin tưởng phòng khám Đa khoa Linh Đàm trong quá trình tìm kiếm bệnh viện tại khu vực này.

    </h3>
</div>
